# Analisa Deskriptif

Pada tahapan ini, kita akan melihat karakteristik dari data yang ada. Data yang digunakan adalah data insurance yang berisi 7 variable.

Pertama-tama kita import library yang dibutuhkan

In [1]:
import pandas as pd
import numpy as np

Selanjutnya kita import datanya dan kita data dan kolomnya

In [2]:
insurance = pd.read_csv('data/insurance.csv')
print(insurance.columns)

Index(['age', 'sex', 'bmi', 'children', 'smoker', 'region', 'charges'], dtype='object')

In [3]:
insurance.head()

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520

Rata-rata umur pengguna

In [4]:
user_age_mean = insurance['age'].mean()
print(f"Rata-rata umur pengguna adalah : {user_age_mean}")

Rata-rata umur pengguna adalah : 39.20702541106129

In [5]:
user_bmi_mean = insurance['bmi'].mean()
print(f"Rata-rata BMI pengguna adalah : {user_bmi_mean}")

Rata-rata BMI pengguna adalah : 30.663396860986538

In [6]:
user_perokok = insurance[insurance['smoker'] == 'yes']
user_perokok

      age     sex     bmi  children smoker     region      charges
0      19  female  27.900         0    yes  southwest  16884.92400
11     62  female  26.290         0    yes  southeast  27808.72510
14     27    male  42.130         0    yes  southeast  39611.75770
19     30    male  35.300         0    yes  southwest  36837.46700
23     34  female  31.920         1    yes  northeast  37701.87680
...   ...     ...     ...       ...    ...        ...          ...
1313   19  female  34.700         2    yes  southwest  36397.57600
1314   30  female  23.655         3    yes  northwest  18765.87545
1321   62    male  26.695         0    yes  northeast  28101.33305
1323   42  female  40.370         2    yes  southeast  43896.37630
1337   61  female  29.070         0    yes  northwest  29141.36030

[274 rows x 7 columns]

In [7]:
mean_bmi_perokok = user_perokok['bmi'].mean()
print(f"Rata-rata BMI perokok adalah {mean_bmi_perokok}")

Rata-rata BMI perokok adalah 30.708448905109503

Variansi Data Charges Perokok vs Variansi Data Charge Non Perokok

In [9]:
user_not_perokok = insurance[insurance['smoker'] == 'no']
user_not_perokok

      age     sex     bmi  children smoker     region      charges
1      18    male  33.770         1     no  southeast   1725.55230
2      28    male  33.000         3     no  southeast   4449.46200
3      33    male  22.705         0     no  northwest  21984.47061
4      32    male  28.880         0     no  northwest   3866.85520
5      31  female  25.740         0     no  southeast   3756.62160
...   ...     ...     ...       ...    ...        ...          ...
1332   52  female  44.700         3     no  southwest  11411.68500
1333   50    male  30.970         3     no  northwest  10600.54830
1334   18  female  31.920         0     no  northeast   2205.98080
1335   18  female  36.850         0     no  southeast   1629.83350
1336   21  female  25.800         0     no  southwest   2007.94500

[1064 rows x 7 columns]

In [12]:
var_charges_perokok = np.var(user_perokok['charges'])
var_charges_non_perokok = np.var(user_not_perokok['charges'])

print(f"Variance charges untuk user perokok adalah {var_charges_perokok}")
print(f"Variance charges untuk user non perokok adalah {var_charges_non_perokok}")

Variance charges untuk user perokok adalah 132721153.13625304
Variance charges untuk user non perokok adalah 35891656.00316425

In [13]:
user_perokok_laki = user_perokok[user_perokok['sex'] == 'male']
user_perokok_perempuan = user_perokok[user_perokok['sex'] == 'female']

mean_umur_perokok_laki = np.mean(user_perokok_laki['age'])
mean_umur_perokok_perempuan = np.mean(user_perokok_perempuan['age'])

print(f"Rata-rata umur laki-laki yang merokok adalah {mean_umur_perokok_laki}")
print(f"Rata-rata umur perempuan yang merokok adalah {mean_umur_perokok_perempuan}")

Rata-rata umur laki-laki yang merokok adalah 38.44654088050314
Rata-rata umur perempuan yang merokok adalah 38.608695652173914

In [15]:
mean_charges_perokok = np.mean(user_perokok['charges'])
mean_charges_not_perokok = np.mean(user_not_perokok['charges'])

print(f"Rata-rata tagihan yang merokok adalah {mean_charges_perokok}")
print(f"Rata-rata tagihan yang tidak merokok adalah {mean_charges_not_perokok}")

Rata-rata tagihan yang merokok adalah 32050.23183153285
Rata-rata tagihan yang tidak merokok adalah 8434.268297856199

In [17]:
perokok_bmi_25plus = user_perokok[user_perokok['bmi'] > 25]
non_perokok_bmi_25plus = user_not_perokok[user_not_perokok['bmi']>25]

mean_tagihan_perokok_bmi25plus = np.mean(perokok_bmi_25plus['charges'])
mean_tagihan_non_perokok_bmi25plus = np.mean(non_perokok_bmi_25plus['charges'])

print(f"Rata2 tagihan yang merokok dan BMI nya lebih dari 25 adalah {mean_tagihan_perokok_bmi25plus}")
print(f"Rata2 tagihan yang tidak merokok dan BMI nya lebih dari 25 adalah {mean_tagihan_non_perokok_bmi25plus}")

Rata2 tagihan yang merokok dan BMI nya lebih dari 25 adalah 35116.90965694065
Rata2 tagihan yang tidak merokok dan BMI nya lebih dari 25 adalah 8629.589609712148

In [19]:
mean_bmi_laki = np.mean(insurance[insurance['sex'] == 'male']['bmi'])
mean_bmi_perempuan = np.mean(insurance[insurance['sex'] == 'female']['bmi'])

print(f"Rata-rata BMI laki-laki adalah {mean_bmi_laki}")
print(f"Rata-rata BMI perempuan adalah {mean_bmi_perempuan}")

Rata-rata BMI laki-laki adalah 30.943128698224832
Rata-rata BMI perempuan adalah 30.377749244713023

In [18]:
mean_bmi_perokok = np.mean(insurance[insurance['smoker'] == 'yes']['bmi'])
mean_bmi_non_perokok = np.mean(insurance[insurance['smoker'] == 'no']['bmi'])

print(f"Rata-rata BMI laki-laki adalah {mean_bmi_perokok}")
print(f"Rata-rata BMI perempuan adalah {mean_bmi_non_perokok}")

Rata-rata BMI laki-laki adalah 30.708448905109503
Rata-rata BMI perempuan adalah 30.651795112781922