# Analisa Korelasi

Pada tahapan ini, kita akan mengecek hubungan antara 2 variable dengan menggunakan korelasi.

## Import Data

In [1]:
import pandas as pd
import numpy as np

insurance = pd.read_csv("data/insurance.csv")
insurance

      age     sex     bmi  children smoker     region      charges
0      19  female  27.900         0    yes  southwest  16884.92400
1      18    male  33.770         1     no  southeast   1725.55230
2      28    male  33.000         3     no  southeast   4449.46200
3      33    male  22.705         0     no  northwest  21984.47061
4      32    male  28.880         0     no  northwest   3866.85520
...   ...     ...     ...       ...    ...        ...          ...
1333   50    male  30.970         3     no  northwest  10600.54830
1334   18  female  31.920         0     no  northeast   2205.98080
1335   18  female  36.850         0     no  southeast   1629.83350
1336   21  female  25.800         0     no  southwest   2007.94500
1337   61  female  29.070         0    yes  northwest  29141.36030

[1338 rows x 7 columns]

## Hubungan antara tagihan dengan BMI

In [2]:
corr_tagihan_bmi = insurance[['bmi','charges']].corr()
corr_tagihan_bmi

              bmi   charges
bmi      1.000000  0.198341
charges  0.198341  1.000000

## Hubungan antara tagihan dengan umur

In [3]:
corr_tagihan_umur = insurance[['age','charges']].corr()
corr_tagihan_umur

              age   charges
age      1.000000  0.299008
charges  0.299008  1.000000

## Hubungan antara tagihan dengan jumlah anak

In [5]:
corr_tagihan_children = insurance[['children','charges']].corr()
corr_tagihan_children

          children   charges
children  1.000000  0.067998
charges   0.067998  1.000000